html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  position: relative;

}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  padding: .4em .75em .3em;
  background-color: #333;
  color: #fff;
  border-style: solid;
  border-color: #333;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  font-size: 1.25rem;
  display: inline-block;
}

.btn-subtle {
  background-color: #ccc;
  border-color: #ccc;
}

.btn-ghost {
  background-color: #fff;
  border-style: solid;
  border-color: #333;
  color: #333;
}

.btn-warning {
  background-color: #f33;
  border-color: #f33;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}
